input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
body{
    background-color: #ccc;
}
h1, p{
    text-align: center;
}
input[type = password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /* resize: vertical; */
}

.container{
    /* justify-content: center; */
    background-color: #f2f2f2;
    width: 30%;
    margin: auto;
    padding: 20px;
    /* border: 1px solid black; */
}

input[type=submit]{
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #ccc;
}
#space{
    margin-top: 6px;
    margin-bottom: 16px;
}
